h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 26px;
  line-height: 34px;

  @media @xsm {
    font-size: 28px;
    line-height: 36px;  
  }

  @media @md {
    font-size:  32px;
    line-height: 40px;  
  }

  @media @lg {
    font-size:  42px;
    line-height: 52px;  
  }

  @media @xlg {
    font-size:  46px;
    line-height: 58px;  
  }

  @media @xl {
    font-size:  50px;
    line-height: 67px;  
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;

  @media @sm {
    font-size: 26px;
  }

  @media @md {
    font-size:  28px;
    line-height: 36px;  
  }

  @media @lg {
    font-size:  30px;
    line-height: 40px;  
  }

  @media @xlg {
    font-size:  36px;
    line-height: 48px;  
  }
}

h3 {
  font-size: 20px;
  line-height: 26px;

  @media @sm {
    font-size: 22px;
    line-height: 28px;  
  }

  @media @lg {
    font-size:  24px;
    line-height: 32px;  
  }

  @media @xlg {
    font-size:  26px;
    line-height: 38px;  
  }
}

h4, h6 {
  font-size: 18px;
  line-height: 20px;

  @media @lg {
    font-size:  20px;
    line-height: 26px;  
  }
}

p {
  font-size: 14px;
  line-height: 24px;

  @media @md {
    font-size: 16px;
    line-height: 26px;
  }
}

ul {
  padding-left: 30px;
}

b, strong {
  font-weight: 500;
}