.boxes {

  position: relative;

  &__row {

    @media @lg {
      display: flex;
      justify-content: space-between;
    }

    .left {

      @media @lg {
        flex: 1;
        max-width: calc(50% - 10px);
      }
    }

    .right {
      text-align: center;

      @media @lg {
        flex: 1;
        padding-bottom: 20px;

        max-width: calc(50% - 10px);
      }

      .sticky {

        margin-top: 10px;

        @media @lg {
          margin-top: 40px;
        }

        @media @lg {
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 30px;
        }

      }
    }
  }

  .item-wrapper {

    @media @lg {
      padding-bottom: 60%;
    }
  }

  &__text {
    max-width: 525px;
    margin-top: 60px;
    margin-bottom: 60px;

    @media @lg {
      margin-top: 40px;
      margin-bottom: 120px;
    }

    @media @xl {
      margin-bottom: 192px;
    }
  }

  .boxes-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-width: 760px;
    margin-bottom: 20px;
    text-align: left;

    > img {
      width: 100%;
    }

    &::before {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 50%;
      left: 0;
      background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,0));
      content: "";
    }

    &:hover  .btn {
      opacity: 1;
    }

    &__content {
      position: absolute;
      top: 25px;
      left: 35px;
      right: 35px;
      height: calc(100% - 50px);

      @media (max-width: 992px){
        display: flex;
        flex-direction: column;
      }

      @media @xlg {
        top: 65px;
        left: 65px;
        right: 65px;
      }

      .title {
        margin-bottom: 35px;
        color: #fff;
      }

      .btn {
        background: transparent;
        border: 1px solid #fff;
        box-shadow: none;
        color: #fff;

        transition: .3s;
        margin-top: auto;

        @media (max-width: 992px){
          border: none;
          box-shadow: none;
          background-color: rgba(0, 185, 242, .85);
        }

        @media @lg {
          opacity: 0;
          margin-top: 0;
        }

        &:hover {
          background: @secondary;
          box-shadow: none;
          border: 1px solid @secondary;
        }
      }
    }
  }
}
