.header-home {
  position: relative;
  background-color: #EFE9E5;

  @media @lg {
    height: 100vh;
    margin-bottom: 60px;
  }

  &__slider {

    // tiny slide wrapper
    > div {
      position: relative;
      overflow: hidden;
    }
  }

  &__slide {

  }

  &__content {
    position: absolute;
    left: 0;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 2;

    @media @xlg {
      padding-top: 5%;
    }
  }

  &__content-wrapper {

    color: #fff;

    @media (max-width: 576px) and (orientation: landscape) {
      transform: scale(.8);
    }

    .header-home__text {
      margin-bottom: 35px;
      max-width: 680px;
      font-size: 16px;

      @media @xsm {
        padding-right: 36px;
      }

      @media (max-width: 576px) {
        padding-right: 20px;
      }

      @media @lg {
        margin-bottom: 63px;
        font-size: 18px;
        padding-right: 0;
      }

      p {
        font-size: 16px;

        @media @lg {
          font-size: 18px;
        }
      }
    }

    .btn {

    }
  }

  &__img {
    position: relative;
    left: -124%;
    transition: .4s;
    transform: scale(1);
    transform-origin: center 0;

    width: auto;
    height: 580px;
    max-height: 100vh;
    max-width: 500vw;
    filter: brightness(0.95);

    @media @xsm {
      left: -80%;
    }

    @media (min-width: 460px) {
      left: -60%;
    }


    @media (min-width: 600px) {
      left: -100%;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      left: 0 !important;
      min-width: 100vw;
      min-height: 100vh;
    }

    @media @md {
      position: static;
      width: 100%;
      height: auto;
    }

    @media @xlg {
      height: 100vh;
    }
  }

  .tns-nav {
    position: absolute;
    bottom: 30px;

    width: 100%;
    margin: 0 auto;

    text-align: center;

    @media @xlg {
      .container-padding-left;
      text-align: left;
    }

    @media @xl {
      bottom: 70px;
    }

    @media @xxl {
      bottom: 100px;
    }

    button {
      display: inline-flex;
      width: 8px;
      height: 8px;
      margin: 0 10px;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      transition: .2s;

      &.tns-nav-active, &:hover {
        background-color: transparent;
        box-shadow: 0 0 0 2px #fff;
      }
    }
  }
}
