.menu-fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  margin-bottom: 60px;

  background-color: rgba(0, 185, 242, .5);
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;

  border-radius: 0 0 20px 0;
  transition: .3s;
  height: 64px;

  backdrop-filter: blur(11px);

  overflow: hidden;

  @media @md {
    height: 75px;
  }

  @media @xlg {
    height: auto;

    width: calc(100vw - 50px);
    transition: .6s;
  }

  .scrolled:not(.menu-fixed-opened) & {
    background-color: rgba(0, 185, 242, 1);
    top: -200px;
  }

  .scrolled.is-going-top & {
    top: 0;
  }

  .menu-fixed-opened & {
    height: 100vh;
    background-color: #fff;

    ul, li {
      color: @dark1;
    }

    .menu-fixed__logo {
      .logo-white {
        display: none !important;
      }
      .logo-blue {
        display: block !important;
      }
    }

    @media @xlg {
      height: auto;
    }
  }

  ul {
    padding-left: 0;

    li {
      margin-bottom: 0;

      &.current-menu-item a {
        color: @primary;

        @media @xlg {
          color: @secondary;
        }
      }
    }

    a {
      transition: .2s;
    }

    a:hover {
      color: @secondary;
    }
  }

  &__wrapper {

    .menu-fixed__top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 16px;

      @media @xlg {
        .container-padding-left;
        padding-right: 35px;
        border-bottom: 1px solid #ddd;
      }

      .menu-fixed__logo {
        @media (max-width: 768px) {
          max-width: 132px;
        }

        .logo-white {
          display: block;
        }
        .logo-blue {
          display: none;
        }
      }

      .call-us {
        display: none;

        @media @lg {
          display: inline-flex;
          margin-left: auto;
          margin-right: 42px;
        }
      }

      .btn {
        display: none;

        &.btn-top {
          background-color: #fff;
          color: @primary;
        }

        @media @md {
          display: inline-flex;
          margin-left: auto;
          margin-right: 30px;
        }

        @media @lg {
          margin-left: 0;
        }

        @media @xlg {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    .menu-fixed__bottom {

      max-height: 0;
      transition: .4s;
      color: #fff;
      font-weight: 500;

      .btn {
        margin-top: 13px;
        margin-bottom: 15px;

        @media @xsm{
          margin-bottom: 35px;
        }
      }

      .call-us {
        color: @dark1;
        margin-bottom: 20px;
        display: flex;
        @media @xlg {
          display: none;
        }
      }

      @media @xlg {
        .container-padding-left;
        max-height: 1000px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;

        .btn {
          display: none;
        }
      }

      // main menu
      > ul {

        @media @xlg {
          display: flex;
          flex-direction: row;
        }

        li {
          a {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
          }

          &:first-child {

            a {
              @media @lg {
                padding-left: 0;
              }
            }
          }
        }

        a {
          @media @xlg {
            padding: 5px 20px;
            margin-right: 5px;
          }
        }
      }
    }

    .menu-fixed__langs {
      color: #000;

      text-transform: uppercase;

      @media (max-width: 1180px) {
        margin-top: auto;
      }

      @media @xlg {
        display: flex;
        align-items: center;
        height: 21px;
        font-weight: 300;
        overflow: hidden;
      }

      > ul {
        margin-right: 15px;

        @media (max-width: 1180px) {
          color: #000;
          display: flex;

          li {
            padding-right: 20px;

            &:not(:first-child) {
              padding-left: 20px;
              border-left: 1px solid #000;
            }
          }
        }

        li {
          font-weight: 300;
          transition: .2s;
          color: #000;

          @media @xlg {
            color: #fff;
          }

          &:not(:first-child) {

            @media @xlg {
              height: 0;
            }
          }
        }
      }

      > img {
        width: 11px;
        height: 5px;
        transform: rotate(0deg);
        transition: .3s;
      }

      &:hover {
        overflow: visible;

        > ul > li {
          height: 22px;
        }

        > img {
          transform: rotate(90deg);
        }
      }
    }
  }

  .menu-fixed-opened & {
    .menu-fixed__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .menu-fixed__bottom {
      max-height: calc(100vh - 65px);
      overflow-y: auto;
      transition: .4s;
      flex: 1;

      @media (max-width: 360px) {
        padding: 30px;
      }

      @media (max-width: 1430px) {
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      @media @xlg {
        align-items: center;
      }
    }
  }
}
